*,*::after,*::before{
    box-sizing: border-box;
    font-weight: normal;
      font-family: Gotham Rounded, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #8ac4d0,#f4d160 );
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content:center;
    min-height: 90vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto)  repeat(5,100px);
}
.calculator-grid >button{
    cursor: pointer;
    font-size: 2em;
    border: 1px solid white;
    background-color: rgba(255 ,255,255,.20);
    outline: none;
}
.calculator-grid >button:hover{
    background-color: rgba(255 ,255,255,.90);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgb(40,82,122);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

.my-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 15px;
    padding: 0;
    margin: 0;  
}

